[Unit]
After=network.target
Description=QTradingBot Server Designed with python/FastAPI


[Service]
WorkingDirectory=/home/system/qbot-server
ExecStart=/home/system/qbot-server/.venv/bin/uvicorn --port 11435 --access-log server:app
Restart=always

[Install]
WantedBy=multi-user.target